@import "tailwindcss";

:root {
  --primary-lightgrey: #EEEEEE;
  --primary-darkgrey: #808080;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-color-blue: #2F00FF;
  --secondary-color-red: #F72E14;
  --secondary-color-light-blue: #C2DAFF;
  --secondary-color-pink: #FBACFB;
  --secondary-color-green: #D7EE44;
}

@theme inline {
  --color-primary-lightgrey: var(--primary-lightgrey);
  --color-primary-darkgrey: var(--primary-darkgrey);
  --color-primary-white: var(--primary-white);
  --color-primary-black: var(--primary-black);
  --color-primary-color: var(--primary-color-blue);
  --color-secondary-red: var(--secondary-color-red);
  --color-secondary-light-blue: var(--secondary-color-light-blue);
  --color-secondary-pink: var(--secondary-color-pink);
  --color-secondary-green: var(--secondary-color-green);
  --font-sans: var(--font-poppins), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-primary-grey);
    --foreground: var(--color-primary-white);
  }
}

body {
  background: var(--color-primary-grey);
  color: var(--color-primary-white);
  font-family: var(--font-poppins), sans-serif;
}

@layer base {
  h1 {
    @apply text-3xl font-medium md:text-4xl lg:text-3xl;
  }
  h2 {
    @apply text-sm font-medium md:text-base;
  }
  h3 {
    @apply text-[10px] font-normal md:text-xs;
  }
}

